body {
    background-color: #1f1f1f;  
  }
  
  img {
      display: block;
      margin: 0 auto;
      width: 50%;
  }
  
  h1,h2,h3  {
      color: #c08009;
      text-align: center;
  }
  
  
  #container {
      background-color: #4e4e4e;
  }
  
  nav {
      background-color: #d69213;
      padding: 2px 0;
      text-align: center;
  }
  
  nav ul {
      padding: 0;
      list-style-type: none;
  }
  
  nav li {
      display: block;
      border-bottom: 2px solid #161615;
  }
  
  nav li a {
      display: block;
      height: 40px;
      line-height: 40px;
      background-color: #302d2d;
      color: #0a0a09;
      text-decoration: none;
      font-size: 1.3em;
      padding: 5px 0;
  }
  
  nav li a:hover {
      background-color: #d1911a;
      color: #c9b60e;
      border-color: #ce8807;
  }
  
  main {
      padding: 20px;
  
  }
  
  .col {
      padding: 20px;
      border-top: 2px solid #d49307;
  }
  
  footer {
      background-color: #c7860f;
      color: #F2CE1B;
      font-weight: bold;
      text-align: center;
      padding: 40px 0;
  }
  
  .button {
      display: block;
      width: 100PX;
      height: 20px;
      line-height: 10px;
      background-color: #bdbcba;
      color: #0f0f0f;
      text-decoration: #c5c8ca;
      margin-top: 10px;
      padding: 10px;
      text-align: center;
      border: 2px solid #c4821f;
      border-radius: 10px;
  
  }
  
  .button:hover {
      background-color: #7a7d80;
      border-color: #272923;
  }
  
  table {
      border: #daa514;
  }
  
  tr,td {
      border: 4px solid #bb7813;
  }
  
  @media (min-width: 768px){
      nav li {
          display: inline-block;
          border: 0;
      }
  
      nav li a {
          width: 200px;
          margin: 0 5px;
          border-radius: 10px;
          border: 2px solid #F2CE1B;
      }
  
      main {
          display: flex;
      }
  
      section, aside {
          padding: 10px;
          margin: 10px;
          border: 2px solid #ca9218;
          border-radius: 10px;
      }
  
      section {
          width: 70%;
      }
  
      aside {
          width: 30%;
      }
  
      .col img {
          width: 50%;
      }
     
  }
  
  @media (min-width: 1024px) {
      #container {
          width: 65%;
          margin: 20px auto;
      }
      nav li a {
          background-color: #cecac3;
          border: 0;
      }
  
      #lower_ area{
          display: flex;
  
      }
  
      .col {
          border: 2px solid #352804;
          padding: 10px;
          margin: 10px;
          border-radius: 10px;
      }
  
      .single_page {
          width: 100%;
      }
  }