body {
    background-color: #FFFCFA;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    color: black ;
    text-align: center;
   
}

#container {
    background-color:#C4DDF2;
}

nav {
    background-color: #C4DDF2;
    padding: 2px 0 ;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
    border-bottom: 2px solid #DADADA;
}

nav li a {
    display: block;
    height: 40px;
    background-color: #cb927d;
    color: #DADADA;
    text-decoration: none;
    font-size: 1.3em;
    padding: 5px 0;
}

nav li a:hover {
    background-color: white;
    color: #26010b;
    border-color: #26010b;
}

main {
    padding: 10px;
}

.col {
    padding: 10px;
    border-top: 2px solid #131240;
}

footer { 
    background-color:#035373 ;
    color: #DADADA;
    font-weight: bold;
    text-align: center;
    padding: 40px;
}

.button a {
    display:block;
    width: 100px;
    height: 20px;
    background-color: beige;
    color: azure;
    text-decoration: #C7C6CA;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 4px solid #26010B;
    border-radius: 10px
}

.button:hover {
    background-color: aliceblue;
    border-color: #035373;
}

table {
    border:#131240;
}

tr, td {
    border: 4px solid #131240;
}

@media (min-width: 786px) {
    nav li {
        display: inline-block;
        border: 0;
    }
    nav li a{
        width: 175px;
        margin: 0 5px;
        border-radius: 10px;
        border: 2px solid #DADADA;
    }

    main {
        display: flex;
    }

    section, aside {
        padding: 10px;
        margin: 10px;
        border: 2px solid #131240;
        border-radius: 10px;
    }

    section {
        width: 70%;
    }

    aside {
        width: 30%;
    }

    .col img {
        width: 50%;
    }

    .button {
        margin-left: auto;
        margin-right: auto;
        
    }
}


@media (min-width: 1024px) {
    
    #container  {
        width: 65%;
        margin: 20px auto;
    }
    nav li a {
        background-color: #131240;
        border: 0;
    }

    #lower_area {
        display: flex;
    }

    .col {
        border: 2px solid #131240;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }

    .single_page {
        width: 100%;

    }

    section img {
        width: 75%;
    }
}