html {
    background-color: #868686;
}

body {
    background-color: rgb(151, 151, 151);
    width: 960px;
    margin: 20px auto;
    border-end-start-radius: 20px;
}

header {
    padding: 20px;
    text-align: center;
}

header img {
    display: block;
    margin: 20px auto;
    width: 35%;
}

nav {
    background-color: #fce300;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #fbfcfb;
    font-size: 28px;
    margin: 0 20px;
}

nav a:hover {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

main img {
    display: block;
    margin: 20px auto;
    width: 45%;
}

footer {
    background-color: rgb(255, 251, 13);
    text-align: center;
    padding: 20px 0;
    border-radius: 0 0 20px 20px;
}

a {
    color: #ffef08;
}

a:hover {
    color: white;
    text-decoration: none;
}

h1, h2, h3 {
    color: #dcff18;
}

img {
    border-radius: 10px 10px 10px 10px;
}